.order-list-kitchen {
  width: 70vw;
  background-color: #151518;
  margin: 20px;
  padding: 20px;
}

.order-kitchen, .order-ready {
  color: #282C34;
  background-color: #faf6f6;
  padding: 10px;
  margin-top: 10px;
}

.time {
  font-size: 14px;
  font-style: italic;
}

.order-resume {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.order-resume td, .order-resume th {
  border: 1px solid #ddd;
  padding: 5px;
}

.order-resume tr:nth-child(even){
  background-color: #f2f2f2;
}

.order-resume tr:hover {
  background-color: #ddd;
}

.order-resume th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #151518;
  color: rgb(245, 247, 250);
}

